*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: Montserrat;
}
body{
 background: #A4A4A4 ;
}
header{
 width: 20%;
 margin: 15px auto;
}
#navbar{
 margin-top: 15px;
 padding: 20px;
 background-color: white;
}
select{
  outline: none;
  border: none;
  font-size: 20px;
  margin-left: 10px;
}
/* ESTILOS A SECTION DE CLASE "DISPLAY NONE"*/
section.display-none {
 display: none;
}
section.container {
  width: 85%;
  height: 100;
  outline: 1px solid green;
  margin: 100px 0  0 108px;
  /*padding: 45px;*/
  background-color: rgb(240, 240, 240);
}
section.container div.container {
  outline: 1px solid red;
  margin:10px 60px;
  text-align: center;
  /*float: left;*/
}
section.container div.container  div.indicators-container {
  outline: 1px solid blue;
  width: 31.3%;
  display: inline-block;
  margin: 10px;
  background-color: #fff;
}
section.container div div div.text, section.container div.skills div.text {
  outline: 1px solid black;
  margin: 20px;
  font-weight: 700;
  font-size: 20px;
}
section.container div div div.value, section.container div.skills div.value {
 outline: 1px solid violet;
 margin: 10px;
 display: inline-block;
 width: 43%;
 padding: 10px;
 background-color: rgb(240, 240, 240);
 font-size: 15px;
}
section.container div.skills {
 outline: 1px solid green;
 margin:30px 60px;
 background-color: #fff;
 padding: 10px;
}
section.container div.skills div.text {
  width: 15%;
}
section.container div.skills div.value {
  width: 25%;
  margin: 10px 21px;
}
/* CLASES PARA LOS EVENTOS*/
.select-sprint {

}
